
<table *ngIf=battle class="table table-bordered table-secondary">
  <thead class="thead-dark">
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">HP</th>
      <th scope="col">MP</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let player of battle.players">
      <td>{{ player.name }}</td>
      <td>{{ player.stats.HP }} / {{ player.stats.MAX_HP }}</td>
      <td>{{ player.stats.MP }} / {{ player.stats.MAX_MP }}</td>
    </tr>
  </tbody>
</table>


<table *ngIf=battle class="table table-bordered table-secondary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">HP</th>
        <th scope="col">MP</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let monster of battle.monsters">
        <td>{{ monster.name }}</td>
        <td>{{ monster.stats.HP }} / {{ monster.stats.MAX_HP }}</td>
        <td>{{ monster.stats.MP }} / {{ monster.stats.MAX_MP }}</td>
      </tr>
    </tbody>
  </table>


<div id="choice" class="card">
  <div class="card-body">
    {{this.battleText}}
  </div>
  <div id="buttons" class="btn-group" role="group" aria-label="Basic example">
  </div>
</div>
