<!-- <p>battle works!</p> -->
<app-players></app-players>

<table *ngIf=battle class="table table-bordered table-secondary">
    <thead class="thead-dark">
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">HP</th>
        <th scope="col">MP</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let monster of battle.monsters">
        <td>{{ monster.name }}</td>
        <td>{{ monster.stats.HP }} / {{ monster.stats.MAX_HP }}</td>
        <td>{{ monster.stats.MP }} / {{ monster.stats.MAX_MP }}</td>
      </tr>
    </tbody>
  </table>


<!-- <input id="clickMe" type="button" value="clickme" (click)="newBattle();" /> -->
<!-- <app-player-turn></app-player-turn> -->
<div id="choice" class="card">
  <div class="card-body">
    {{this.battleText}}
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button id="submit1" type="button" class="btn btn-secondary">Left</button>
    <button id="submit2" type="button" class="btn btn-secondary">Middle</button>
    <button type="button" class="btn btn-secondary">Right</button>
  </div>
</div>
