<p>battle works!</p>
<app-players></app-players>

<div *ngIf=battle class="card my-5 w-50" id="monster list" >
        <div class ="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">HP</th>
                <th scope="col">MP</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let monster of battle.monsters">

              <td>{{ monster.name }}</td>
                <td>{{ monster.stats.HP }} / {{ monster.stats.MAX_HP }}</td>
                <td>{{ monster.stats.MP }} / {{ monster.stats.MAX_MP }}</td>
            </tr>
            </tbody>
        </table>
        </div>
</div>


<input id="clickMe" type="button" value="clickme" (click)="newBattle();" />
