<div class="card my-5" id="video list" >
    <div class="card-body">
        <div class ="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">NAME</th>
                <th scope="col">HP</th>
                <th scope="col">MP</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let player of players">

              <td>{{ player.name }}</td>
                <td>{{ player.stats.HP }} / {{ player.stats.MAX_HP }}</td>
                <td>{{ player.stats.MP }} / {{ player.stats.MAX_MP }}</td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>