<div id="choice" class="card">
    <div class="card-body">
      {{this.battleText}}
    </div>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button id="submit1" type="button" class="btn btn-secondary">Left</button>
      <button id="submit2" type="button" class="btn btn-secondary">Middle</button>
      <button type="button" class="btn btn-secondary">Right</button>
    </div>
  </div>


  <!-- <div id="dBlock">
    <div id="dCalc">
     <input id="firstNumber" type="text" maxlength="3" />
     <input id="secondNumber" type="text" maxlength="3" />
     <input id="btn1" type="button" value="Add" />
     <input id="btn2" type="button" value="Subtract" />
     <input id="btn3" type="button" value="Multiply" />
     <input id="btn4" type="button" value="Divide" />
    </div>
   </div> -->